<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team4.sns.mapper.FollowUserMapper">

    <insert id="followUser">
        INSERT INTO FOLLOW(user_id, followed_user_id)
        VALUES (#{userId}, #{followedUserId})
    </insert>

    <delete id="unfollowUser">
        DELETE FROM FOLLOW
        WHERE user_id = #{userId}
    </delete>
</mapper>