<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team4.sns.mapper.ReplyMapper">

    <insert id="createReply" parameterType="com.team4.sns.vo.Tag">
        INSERT INTO reply (comment_id, user_id, content)
        VALUES (#{reply.commentId}, #{reply.userId}, #{reply.content})
        <selectKey keyProperty="reply.id" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="editReply">
        UPDATE reply
        SET content = #{reply.content}
        WHERE id = #{reply.id} AND is_deleted = 0;
    </update>

    <update id="deleteReply">
        UPDATE reply
        SET is_deleted = 1
        WHERE id = #{id} AND is_deleted = 0;
    </update>

    <select id="getReplyById" resultType="com.team4.sns.vo.Reply">
        SELECT *
        FROM reply
        WHERE id = #{id}
    </select>

</mapper>

