<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team4.sns.mapper.TagPostMapper">

    <insert id="createTagPost">
        INSERT INTO tag_post (post_id, tag_id)
        VALUES (#{postId}, #{tagId})
    </insert>

    <update id="deleteTagPost">
        UPDATE tag_post
        SET is_deleted=1
        WHERE tag_id = #{tagId} AND post_id = #{postId}
    </update>

</mapper>

