<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team4.sns.mapper.UserMapper">

    <select id="getUserByAccount" resultType="com.team4.sns.vo.User">
        SELECT *
        FROM user
        WHERE account = #{account} AND is_deleted = 0
    </select>

    <select id="getUserById" resultType="com.team4.sns.vo.User">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>

    <insert id="createUser">
        INSERT INTO user (account, password, name, nickname)
        VALUES (#{user.account}, #{user.password}, #{user.name}, #{user.nickname})
    </insert>

    <select id="getUserByAccountAndPassword" resultType="com.team4.sns.vo.User">
        SELECT *
        FROM user
        WHERE account = #{account} AND password = #{password} AND is_deleted = 0
    </select>

    <update id="editUser">
        UPDATE user
        SET nickname = #{user.nickname},
            profession = #{user.profession},
            gender = #{user.gender},
            content = #{user.content},
            image_url = #{user.imageUrl},
            is_auth = #{user.isAuth}
        WHERE id = #{user.id} AND is_deleted = 0;
    </update>

    <update id="deleteUser">
        UPDATE user
        SET is_deleted = 1
        WHERE id = #{id} AND is_deleted = 0;
    </update>

    <select id="getUser" resultType="int">
        SELECT id
        FROM user
        WHERE id = #{id}
    </select>

    <select id="getSevenRecommendationAboutUser" resultType="com.team4.sns.vo.User">
        <choose>
            <when test="userId == null">
                SELECT id, name, profession, image_url as imageUrl
                FROM user
                ORDER BY rand()
                LIMIT 7;
            </when>
            <otherwise>
                SELECT id, name, profession, image_url as imageUrl
                FROM user
                WHERE id not in (
                    SELECT followed_user_id
                    FROM follow
                    WHERE user_id = #{userId}
                    )
                AND id != #{userId}
                ORDER BY rand()
                LIMIT 7;
            </otherwise>
        </choose>

    </select>

    <select id="getUserByKeyword" resultType="com.team4.sns.vo.User">
        SELECT id, name, profession, image_url as imageUrl
        FROM user
        WHERE name like concat('%', #{keyword}, '%');
    </select>

    <select id="getNinePopularUser" resultType="com.team4.sns.vo.User">
        <choose>
            <when test="userId != null">
                SELECT id, name, nickname, profession, image_url as imageUrl
                FROM user
                WHERE id not in (
                SELECT followed_user_id
                FROM follow
                WHERE user_id=#{userId}
                group by followed_user_id
                )
                AND id != #{userId}
                ORDER BY rand()
                LIMIT 9;
            </when>
            <otherwise>
                SELECT id, name, nickname, profession, image_url as imageUrl
                FROM user
                WHERE id in (
                SELECT followed_user_id
                FROM follow
                group by followed_user_id
                )
                ORDER BY rand()
                LIMIT 9;
            </otherwise>
        </choose>

    </select>

</mapper>

