<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <mappers>
        <mapper resource="mybatis/mapper/TestMapper.xml"/>
        <mapper resource="mybatis/mapper/PostMapper.xml"/>
        <mapper resource="mybatis/mapper/ImageMapper.xml"/>
        <mapper resource="mybatis/mapper/CommentMapper.xml"/>
        <mapper resource="mybatis/mapper/UserMapper.xml"/>
        <mapper resource="mybatis/mapper/UserSessionMapper.xml"/>
        <mapper resource="mybatis/mapper/TagMapper.xml"/>
        <mapper resource="mybatis/mapper/TagPostMapper.xml"/>
        <mapper resource="mybatis/mapper/ReplyMapper.xml"/>
        <mapper resource="mybatis/mapper/ReplyLikeMapper.xml"/>
    </mappers>

</configuration>

