<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="img/logo.png">
    <title>Vogel - Social Network & Community HTML Template</title>
    <meta name="description" content="Vogel - Social Network & Community HTML Template" />
    <meta name="keywords" content="bootstrap5, e-learning, forum, games, online course, Social Community, social events, social feed, social media, social media template, social network html, social sharing, twitter" />
    <!-- Bootstrap CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Slich Slider -->
    <link href="vendor/slick/slick/slick.css" rel="stylesheet">
    <link href="vendor/slick/slick/slick-theme.css" rel="stylesheet">
    <!-- Icofont -->
    <link href="vendor/icofont/icofont.min.css" rel="stylesheet">
    <!-- Font Icons -->
    <link href="vendor/icons/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
    <!-- Custom Css -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="bg-light">
<div class="web-none d-flex align-items-center px-3 pt-3">
    <a href="/" class="text-decoration-none">
        <img src="/img/logo.png" class="img-fluid logo-mobile" alt="brand-logo">
    </a>
    <button class="ms-auto btn btn-primary ln-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <span class="material-icons">menu</span>
    </button>
</div>
<div class="py-4">
    <div class="container">
        <div class="row position-relative">
            <!-- Main Content -->
            <main id="mainPost" class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
                <div class="main-content">
                    <ul class="top-osahan-nav-tab nav nav-pills justify-content-center nav-justified mb-4 shadow-sm rounded-4 overflow-hidden bg-white sticky-sidebar2" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="p-3 nav-link text-muted active" id="pills-feed-tab" data-bs-toggle="pill" data-bs-target="#pills-feed" type="button" role="tab" aria-controls="pills-feed" aria-selected="true">Feed</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="p-3 nav-link text-muted" id="pills-people-tab" data-bs-toggle="pill" data-bs-target="#pills-people" type="button" role="tab" aria-controls="pills-people" aria-selected="false">People</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-feed" role="tabpanel" aria-labelledby="pills-feed-tab">
                            <!-- Post Tab -->
                            <div class="input-group mb-4 shadow-sm rounded-4 overflow-hidden py-2 bg-white" data-bs-toggle="modal" data-bs-target="#postModal">
                                <span class="input-group-text material-icons border-0 bg-white text-primary">account_circle</span>
                                <input type="text" class="form-control border-0 fw-light ps-1" placeholder="What's on your mind.">
                                <a href="#" class="text-decoration-none input-group-text bg-white border-0 material-icons text-primary">add_circle</a>
                            </div>
                            <!-- Follow People -->
                            <div>
                                <div class="d-flex align-items-center justify-content-between mb-1">
                                    <h6 class="mb-0 fw-bold text-body">Follow People</h6>
                                    <a href="#" class="text-dark text-decoration-none material-icons">east</a>
                                </div>
                                <!-- Slider Accounts -->
                                <div class="account-slider">
                                    <!-- Account Items -->
                                    {{#recommendedUsers}}
                                    <div class="account-item">
                                        <div class="me-2 bg-white shadow-sm rounded-4 p-3 user-list-item d-flex justify-content-center my-2">
                                            <div class="text-center">
                                                <div class="position-relative d-flex justify-content-center">
                                                    <a href="/profile/{{id}}" class="text-decoration-none">
                                                        <img src="{{imageUrl}}" class="img-fluid rounded-circle mb-3" alt="profile-img">
                                                        <div class="position-absolute">
                                                            <span class="material-icons bg-primary small p-1 fw-bold text-white rounded-circle">done</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <p class="fw-bold text-dark m-0">{{name}}</p>
                                                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                                    <input type ="hidden" id="userId" value="{{id}}">
                                                    <input type="checkbox" class="btn-check" id="btncheck{{id}}" checked>
                                                    <label id="followButton" class="btn btn-outline-primary btn-sm px-3 rounded-pill" for="btncheck{{id}}"><span class="follow">+ Follow</span><span class="following d-none">Following</span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/recommendedUsers}}
                                </div>
                                <!-- Feeds -->
                                <div class="pt-4 feeds">
                                    <!-- Feed Item -->
                                    {{#postList}}
                                    <div class="bg-white p-3 feed-item rounded-4 mb-3 shadow-sm">
                                        <div class="d-flex">
                                            <input type="hidden" id="postId" value="{{id}}">
                                            <img id="userProfileUrl" src="{{User.imageUrl}}" class="img-fluid rounded-circle user-img" alt="profile-img">
                                            <div class="d-flex ms-3 align-items-start w-100">
                                                <div class="w-100">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <a href="/profile/{{User.id}}" class="text-decoration-none d-flex align-items-center">
                                                            <h6 id="userName" class="fw-bold mb-0 text-body">{{User.name}}</h6>
                                                            <span class="ms-2 material-icons bg-primary p-0 md-16 fw-bold text-white rounded-circle ov-icon">done</span>
                                                            <small id="userNickname"class="text-muted ms-2">@{{User.nickname}}</small>
                                                        </a>
                                                        <div class="d-flex align-items-center small">
                                                            <p class="text-muted mb-0">{{createdAt}}</p>
                                                            <div class="dropdown">
                                                                <a href="#" class="text-muted text-decoration-none material-icons ms-2 md-20 rounded-circle bg-light p-1" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">more_vert</a>
                                                                <ul class="dropdown-menu fs-13 dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                                                                    <li><a class="dropdown-item text-muted" href="#"><span class="material-icons md-13 me-1">edit</span>Edit</a></li>
                                                                    <li><a class="dropdown-item text-muted" href="#"><span class="material-icons md-13 me-1">delete</span>Delete</a></li>
                                                                    <li><a class="dropdown-item text-muted" href="#"><span class="material-icons md-13 me-1 ltsp-n5">arrow_back_ios arrow_forward_ios</span>Embed Vogel</a></li>
                                                                    <li><a class="dropdown-item text-muted d-flex align-items-center" href="#"><span class="material-icons md-13 me-1">share</span>Share via another apps</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="my-2">
                                                        <p class="text-dark">{{content}}</p>
                                                        <div id="postImages" href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#imageModal">
                                                            {{#postImageList}}
                                                                <img id="image" src="{{.}}" class="img-fluid rounded mb-3" alt="post-img">
                                                            {{/postImageList}}
                                                        </div>
                                                        <div class="d-flex align-items-center justify-content-between mb-2">
                                                            <div id="likeButton">
                                                                <span class="text-muted text-decoration-none d-flex align-items-start fw-light">
                                                                    <span class="material-icons md-20 me-2">thumb_up_off_alt</span>
                                                                    <span id="postLikeNum">{{likeNum}}</span>
                                                                </span>
                                                            </div>
                                                            <div>
                                                                <span data-bs-toggle="modal" data-bs-target="#commentModal" id="commentButton" class="text-muted text-decoration-none d-flex align-items-start fw-light"><span class="material-icons md-20 me-2">chat_bubble_outline</span><span>{{commentNum}}</span></span>
                                                            </div>
                                                            <div id="shareButton">
                                                                <span class="text-muted text-decoration-none d-flex align-items-start fw-light">
                                                                    <span class="material-icons md-20 me-2">repeat</span>
                                                                    <span id="postShareNum">{{shareNum}}</span>
                                                                </span>
                                                            </div>
                                                            <div>
                                                                <span class="text-muted text-decoration-none d-flex align-items-start fw-light"><span class="material-icons md-18 me-2">share</span><span>Share</span></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/postList}}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-people" role="tabpanel" aria-labelledby="pills-people-tab">
                            <h6 class="mb-3 fw-bold text-body">Popular</h6>
                            <div class="bg-white rounded-4 overflow-hidden mb-4 shadow-sm">
                                <!-- Account Item -->
                                {{#popularUsers}}
                                <a href="/profile/{{id}}" class="p-3 border-bottom d-flex text-dark text-decoration-none account-item pf-item">
                                    <img src="{{imageUrl}}" class="img-fluid rounded-circle me-3" alt="profile-img">
                                    <div>
                                        <p class="fw-bold mb-0 pe-3 d-flex align-items-center">{{name}} <span class="ms-2 material-icons bg-primary p-0 md-16 fw-bold text-white rounded-circle ov-icon">done</span></p>
                                        <div class="text-muted fw-light">
                                            <p class="mb-1 small">@{{nickname}}</p>
                                            <span class="text-muted d-flex align-items-center small"><span class="material-icons me-1 small">open_in_new</span>{{profession}}</span>
                                        </div>
                                    </div>
                                    <div class="ms-auto">
                                        <span class="btn btn-outline-primary btn-sm px-3 rounded-pill">+ Follow</span>
                                    </div>
                                </a>
                                {{/popularUsers}}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-trending" role="tabpanel" aria-labelledby="pills-trending-tab">
                            <!-- Post Tab -->
                            <div class="input-group shadow-sm mb-3 rounded-4 overflow-hidden py-2 bg-white" data-bs-toggle="modal" data-bs-target="#postModal">
                                <span class="input-group-text material-icons border-0 bg-white text-primary">account_circle</span>
                                <input type="text" class="form-control border-0 fw-light ps-1" placeholder="What's on your mind.">
                                <a href="#" class="text-decoration-none input-group-text bg-white border-0 material-icons text-primary">add_circle</a>
                            </div>
                            <!-- Feeds -->
                        </div>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <p class="mb-0 mt-2">Loading</p>
                </div>
            </main>
            <aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
                <div class="p-2 bg-light offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample">
                    <div class="sidebar-nav mb-3">
                        <div class="pb-4">
                            <a href="/" class="text-decoration-none">
                                <img src="/img/logo.png" class="img-fluid logo" alt="brand-logo">
                            </a>
                        </div>
                        <ul class="navbar-nav justify-content-end flex-grow-1">
                            <li class="nav-item">
                                <a href="/" class="nav-link active"><span class="material-icons me-3">house</span> <span>Feed</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="/profile" class="nav-link"><span class="material-icons me-3">account_circle</span> <span>Profile</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="/" class="nav-link"><span class="material-icons me-3">logout</span> <span>Logout</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="/trending" class="nav-link"><span class="material-icons me-3">local_fire_department</span> <span>Trending</span></a>
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-primary w-100 text-decoration-none rounded-4 py-3 fw-bold text-uppercase m-0" data-bs-toggle="modal" data-bs-target="#signModal">Sign up +</a>
                    <div style="height: 20px"></div>
                    <a href="/user/login" class="btn btn-primary w-100 text-decoration-none rounded-4 py-3 fw-bold text-uppercase m-0">Sign In ++</a>
                </div>
                <!-- Sidebar -->
                <div class="ps-0 m-none fix-sidebar">
                    <div class="sidebar-nav mb-3">
                        <div class="pb-4 mb-4">
                            <a href="/" class="text-decoration-none">
                                <img src="/img/logo.png" class="img-fluid logo" alt="brand-logo">
                            </a>
                        </div>
                        <ul class="navbar-nav justify-content-end flex-grow-1">
                            <li class="nav-item">
                                <a href="/" class="nav-link active"><span class="material-icons me-3">house</span> <span>Feed</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-menu"><span class="material-icons me-3">account_circle</span> <span>Profile</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="/trending" class="nav-link"><span class="material-icons me-3">local_fire_department</span> <span>Trending</span></a>
                            </li>
                            <li class="nav-item" id="change-profile-menu">
                                <a href="/user/profile" id="user-profile-menu" class="nav-link"><span class="material-icons me-3">face</span> <span>Change Profile</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="/" class="nav-link" id="logout-menu"><span class="material-icons me-3">logout</span> <span>Logout</span></a>
                            </li>
                        </ul>
                    </div>
                    <a href="/user/signup" id="signup-menu" class="btn btn-primary w-100 text-decoration-none rounded-4 py-3 fw-bold text-uppercase m-0">Sign Up +</a>
                    <div style="height: 20px"></div>
                    <a href="/user/login" id="login-menu" class="btn btn-primary w-100 text-decoration-none rounded-4 py-3 fw-bold text-uppercase m-0">Sign In ++</a>
                </div>
            </aside>
            <aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">
                <div class="fix-sidebar">
                    <div class="side-trend lg-none">
                        <!-- Search Tab -->
                        <div class="sticky-sidebar2 mb-3">
                            <div class="input-group mb-4 shadow-sm rounded-4 overflow-hidden py-2 bg-white">
                                <form name="search-form" autocomplete="off" action="/search">
                                    <span class="input-group-text material-icons border-0 bg-white text-primary" input type="button">search</span>
                                    <input type="text" class="form-control border-0 fw-light ps-1" placeholder="Search Vogel" name="keyword">
                                </form>
                            </div>
                            <div class="bg-white rounded-4 overflow-hidden shadow-sm mb-4">
                                <h6 class="fw-bold text-body p-3 mb-0 border-bottom">What's happening</h6>
                                <!-- Trending Item -->
                                <a href="tags.html" class="p-3 border-bottom d-flex align-items-center text-dark text-decoration-none">
                                    <div>
                                        <div class="text-muted fw-light d-flex align-items-center">
                                            <small>Celebrity</small><span class="mx-1 material-icons md-3">circle</span><small>Live</small>
                                        </div>
                                        <p class="fw-bold mb-0 pe-3">Happy birthday, Osahan 🎂</p>
                                        <small class="text-muted">Trending with</small><br/>
                                        <span class="text-primary">#HappyBirthdayJohnSmith</span>
                                    </div>
                                    <img src="img/rmate4.jpg" class="img-fluid rounded-4 ms-auto" alt="profile-img">
                                </a>
                                <!-- Trending Item -->
                                <a href="tags.html" class="p-3 border-bottom d-flex align-items-center text-dark text-decoration-none">
                                    <div>
                                        <div class="text-muted fw-light d-flex align-items-center">
                                        </div>
                                        <p class="fw-bold mb-0 pe-3">#SelectricsM12</p>
                                        <small class="text-muted">Buy now with exclusive offers</small><br/>
                                        <small class="text-muted d-flex align-items-center"><span class="material-icons me-1 small">open_in_new</span>Promoted by Selectrics World</small>
                                    </div>
                                </a>
                                <!-- Trending Item -->
                                <div class="p-3 border-bottom d-flex">
                                    <div>
                                        <div class="text-muted fw-light d-flex align-items-center">
                                            <small>Trending in India</small>
                                        </div>
                                        <p class="fw-bold mb-0 pe-3 text-dark">#ME11Lite</p>
                                        <small class="text-muted">Buy now with exclusive offers</small><br/>
                                        <small class="text-muted">52.8k Tweets</small>
                                    </div>
                                    <div class="dropdown ms-auto">
                                        <a href="#" class="text-muted text-decoration-none material-icons ms-2 md-20 rounded-circle bg-light p-1" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-expanded="false">more_vert</a>
                                        <ul class="dropdown-menu fs-13 dropdown-menu-end" aria-labelledby="dropdownMenuButton5">
                                            <li><a class="dropdown-item text-muted" href="#"><span class="material-icons md-13 me-1">sentiment_very_dissatisfied</span>Not interested in this</a></li>
                                            <li><a class="dropdown-item text-muted" href="#"><span class="material-icons md-13 me-1">sentiment_very_dissatisfied</span>This trend is harmful or spammy</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Trending Item -->
                                <div class="p-3 border-bottom d-flex">
                                    <div>
                                        <div class="text-muted fw-light d-flex align-items-center">
                                            <small>Trending in India</small>
                                        </div>
                                        <p class="fw-bold mb-0 pe-3 text-dark">News</p>
                                        <small class="text-muted">52.8k Tweets</small>
                                    </div>
                                    <div class="dropdown ms-auto">
                                        <a href="#" class="text-muted text-decoration-none material-icons ms-2 md-20 rounded-circle bg-light p-1" id="dropdownMenuButton6" data-bs-toggle="dropdown" aria-expanded="false">more_vert</a>
                                        <ul class="dropdown-menu fs-13 dropdown-menu-end" aria-labelledby="dropdownMenuButton6">
                                            <li><a class="dropdown-item text-muted" href="#"><span class="material-icons md-13 me-1">sentiment_very_dissatisfied</span>Not interested in this</a></li>
                                            <li><a class="dropdown-item text-muted" href="#"><span class="material-icons md-13 me-1">sentiment_very_dissatisfied</span>This trend is harmful or spammy</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Trending Item -->
                                <a href="tags.html" class="p-3 border-bottom d-flex align-items-center text-dark text-decoration-none">
                                    <div>
                                        <div class="text-muted fw-light d-flex align-items-center">
                                            <small>Design</small><span class="mx-1 material-icons md-3">circle</span><small>Live</small>
                                        </div>
                                        <p class="fw-bold mb-0 pe-3">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                    <img src="img/trend1.jpg" class="img-fluid rounded-4 ms-auto" alt="trending-img">
                                </a>
                                <!-- Show More -->
                                <a href="explore.html" class="text-decoration-none">
                                    <div class="p-3">Show More</div>
                                </a>
                            </div>
                            <div class="bg-white rounded-4 overflow-hidden shadow-sm account-follow mb-4">
                                <h6 class="fw-bold text-body p-3 mb-0 border-bottom">Who to follow</h6>
                                <!-- Account Item -->
                                <a href="profile.html" class="p-3 border-bottom d-flex text-dark text-decoration-none account-item">
                                    <img src="img/rmate5.jpg" class="img-fluid rounded-circle me-3" alt="profile-img">
                                    <div>
                                        <p class="fw-bold mb-0 pe-3 d-flex align-items-center">Webartinfo <span class="ms-2 material-icons bg-primary p-0 md-16 fw-bold text-white rounded-circle ov-icon">done</span></p>
                                        <div class="text-muted fw-light">
                                            <p class="mb-1 small">@abcdsec</p>
                                            <span class="text-muted d-flex align-items-center small"><span class="material-icons me-1 small">open_in_new</span>Promoted</span>
                                        </div>
                                    </div>
                                    <div class="ms-auto">
                                        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                            <input type="checkbox" class="btn-check" id="btncheck8">
                                            <label class="btn btn-outline-primary btn-sm px-3 rounded-pill" for="btncheck8"><span class="follow">+ Follow</span><span class="following d-none">Following</span></label>
                                        </div>
                                    </div>
                                </a>
                                <!-- Account Item -->
                                <a href="profile.html" class="p-3 border-bottom d-flex text-dark text-decoration-none account-item">
                                    <img src="img/rmate4.jpg" class="img-fluid rounded-circle me-3" alt="profile-img">
                                    <div>
                                        <p class="fw-bold mb-0 pe-3 d-flex align-items-center">John Smith <span class="ms-2 material-icons bg-primary p-0 md-16 fw-bold text-white rounded-circle ov-icon">done</span></p>
                                        <div class="text-muted fw-light">
                                            <p class="mb-1 small">@johnsmith</p>
                                            <span class="text-muted d-flex align-items-center small">Designer</span>
                                        </div>
                                    </div>
                                    <div class="ms-auto">
                                        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                            <input type="checkbox" class="btn-check" id="btncheck9">
                                            <label class="btn btn-outline-primary btn-sm px-3 rounded-pill" for="btncheck9"><span class="follow">+ Follow</span><span class="following d-none">Following</span></label>
                                        </div>
                                    </div>
                                </a>
                                <!-- Account Item -->
                                <a href="profile.html" class="p-3 d-flex text-dark text-decoration-none account-item">
                                    <img src="img/rmate3.jpg" class="img-fluid rounded-circle me-3" alt="profile-img">
                                    <div>
                                        <p class="fw-bold mb-0 pe-3 d-flex align-items-center">Konex <span class="ms-2 material-icons bg-primary p-0 md-16 fw-bold text-white rounded-circle ov-icon">done</span></p>
                                        <div class="text-muted fw-light">
                                            <p class="mb-1 small">@Konex</p>
                                            <span class="text-muted d-flex align-items-center small">Artist/Author...</span>
                                        </div>
                                    </div>
                                    <div class="ms-auto">
                                        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                            <input type="checkbox" class="btn-check" id="btncheck10">
                                            <label class="btn btn-outline-primary btn-sm px-3 rounded-pill" for="btncheck10"><span class="follow">+ Follow</span><span class="following d-none">Following</span></label>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>
<div class="py-3 bg-white footer-copyright">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <span class="me-3 small">©2021 <b class="text-primary">Your Website</b>. All rights reserved</span>
            </div>
            <div class="col-md-4 text-end">
                <a target="_blank" href="#" class="btn social-btn btn-sm text-decoration-none"><i class="icofont-facebook"></i></a>
                <a target="_blank" href="#" class="btn social-btn btn-sm text-decoration-none"><i class="icofont-twitter"></i></a>
                <a target="_blank" href="#" class="btn social-btn btn-sm text-decoration-none"><i class="icofont-linkedin"></i></a>
                <a target="_blank" href="#" class="btn social-btn btn-sm text-decoration-none"><i class="icofont-youtube-play"></i></a>
                <a target="_blank" href="#" class="btn social-btn btn-sm text-decoration-none"><i class="icofont-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Post Modal -->
<div class="modal fade" id="postModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4 p-4 border-0 bg-light">
            <div class="modal-header d-flex align-items-center justify-content-start border-0 p-0 mb-3">
                <a id="postModalCancelButton" href="#" class="text-muted text-decoration-none material-icons" data-bs-dismiss="modal">arrow_back_ios_new</a>
                <h5 class="modal-title text-muted ms-3 ln-0" id="staticBackdropLabel"><span class="material-icons md-32">account_circle</span></h5>
            </div>
            <form id="postUploadFrom" method="post" enctype="multipart/form-data">
                <div class="modal-body p-0 mb-3">
                    <div class="form-floating">
                        <textarea id="postRegisterArea" maxlength="500" class="form-control rounded-5 border-0 shadow-sm" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 200px"></textarea>
                        <label for="floatingTextarea2" class="h6 text-muted mb-0">What's on your mind...</label>
                    </div>
                </div>
                <div>
                    <input style="float:left; width:133px; margin-right:25px;" class="form-control rounded-5" id="tag1" type="text" placeholder="#1"/>
                    <input style="float:left; width:133px; margin-right:25px;" class="form-control rounded-5" id="tag2" type="text" placeholder="#2"/>
                    <input style="float:left; width:133px;" class="form-control rounded-5" id="tag3" type="text" placeholder="#3"/>
                </div>
                <div style="clear: both; margin-bottom: 20px"></div>
                <div class="modal-footer justify-content-start px-1 py-1 bg-white shadow-sm rounded-5">
                    <div class="rounded-4 m-0 px-3 py-2 d-flex align-items-center justify-content-between w-75">
                            <input id="postImageRegister" multiple type="file" id="chooseFile" name="chooseFile" accept="image/*">
                    </div>
                    <div class="ms-auto m-0">
                        <a id="postUploadButton" data-bs-dismiss="modal" href="#" class="btn btn-primary rounded-5 fw-bold px-3 py-2 fs-6 mb-0 d-flex align-items-center">
                            <span class="material-icons me-2 md-16">send</span>
                            Post
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Image Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4 overflow-hidden border-0">
            <div class="modal-header d-none">
                <h5 class="modal-title" id="exampleModalLabel2">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div class="row m-0">
                    <div class="col-sm px-0 m-sm-none">
                        <!-- Image Slider -->
                        <div class="image-slider">
                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                <div id="imageSlider" class="carousel-inner"></div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-none">
            </div>
        </div>
    </div>
</div>
<!-- Comment Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4 overflow-hidden border-0">
            <div class="modal-header d-none">
                <h5 class="modal-title" id="exampleModalLabel2">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div class="row m-0">
                    <div class="col-sm content-body px-web-0">
                        <div class="d-flex flex-column h-600">
                            <div class="d-flex p-3 border-bottom">
                                <img id="postWriterProfile" src="img/rmate4.jpg" class="img-fluid rounded-circle user-img" alt="profile-img">
                                <div class="d-flex align-items-center justify-content-between w-100">
                                    <a href="profile.html" class="text-decoration-none ms-3">
                                        <div class="d-flex align-items-center">
                                            <h6 id="postWriterName" class="fw-bold text-body mb-0">iamosahan</h6>
                                            <p class="ms-2 material-icons bg-primary p-0 md-16 fw-bold text-white rounded-circle ov-icon mb-0">
                                                done</p>
                                        </div>
                                        <p id="postWriterNickname" class="text-muted mb-0 small">@johnsmith</p>
                                    </a>
                                    <div class="small dropdown">
                                        <a href="#" class="text-muted text-decoration-none material-icons ms-2 md-"
                                           data-bs-dismiss="modal">close</a>
                                    </div>
                                </div>
                            </div>
                            <div class="comments p-3">
                            </div>
                            <div class="border-top p-3 mt-auto">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <div>
                                        <span class="text-muted text-decoration-none d-flex align-items-start fw-light">
                                            <span class="material-icons md-20 me-2">thumb_up_off_alt</span>
                                            <span id="modalPostLikeNum">30.4k</span>
                                        </span>
                                    </div>
                                    <div>
                                        <span class="text-muted text-decoration-none d-flex align-items-start fw-light">
                                            <span class="material-icons md-20 me-2">repeat</span>
                                            <span id="modalPostShareNum">617</span>
                                        </span>
                                    </div>
                                    <div>
                                        <a href="#"
                                           class="text-muted text-decoration-none d-flex align-items-start fw-light"><span
                                                class="material-icons md-18 me-2">share</span><span>Share</span></a>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="material-icons bg-white border-0 text-primary pe-2 md-36">account_circle</span>
                                    <div class="d-flex align-items-center border rounded-4 px-3 py-1 w-100">
                                        <input id="commentContent" type="text"
                                               class="form-control form-control-sm p-0 rounded-3 fw-light border-0"
                                               placeholder="Write Your comment">
                                        <a id="commentUploadButton" data-bs-dismiss="modal" href="#" class="btn btn-primary rounded-5 fw-bold px-3 py-2 fs-6 mb-0 d-flex align-items-center">
                                            <span class="material-icons me-2 md-16">send</span>
                                            Post
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-none">
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="page" current-page="1">

<!-- Jquery Js -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<!-- Bootstrap Bundle Js -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Custom Js -->
<script src="/js/custom.js"></script>
<script src="/js/index.js"></script>
<!-- Slick Js -->
<script src="/vendor/slick/slick/slick.min.js"></script>

<!-- Pagenation -->
<script type="text/javascript">

    function insertImage(imageList){
        let result="<div id=\"postImages\" class=\"text-decoration-none\" data-bs-toggle=\"modal\" data-bs-target=\"#imageModal\">";
        for(var i=0; i<imageList.length; i++){
            var tmp = "<img id=\"image\" src=\"" + imageList[i] + "\" class=\"img-fluid rounded mb-3\" alt=\"post-img\">"
            result += tmp
        }
        result += "</div>";
        return result
    }
    let isRequestPost = false;
    window.addEventListener('scroll',() => {
        // $("#mainPost").height() : DOM의 길이
        // $("#mainPost").offset().top : DOM의 최상단 위치
        //window.pageYOffset : 현제 스크롤 최상단 위치
        //window.innerHeight : 창 길이
        const domPositionY = $("#mainPost").height() + $("#mainPost").offset().top;
        const windowPositionY = window.pageYOffset + window.innerHeight;
        if(domPositionY <= windowPositionY && !this.isRequestPost) {
            this.isRequestPost = true;
            setTimeout(() => this.isRequestPost = false, 1000);
            var nextPage = parseInt($("#page").attr("current-page")) + 1;
            console.log("현재 페이지 : ", $("#page").attr("current-page"))
            console.log("다음 페이지 : ", nextPage);

            $.ajax({
                method: "GET",
                url: "/post",
                data: {"page": nextPage}
            })
            .done(function(response){
                for (var post of response) {
                    $(".pt-4").append(
                        "<div class=\"bg-white p-3 feed-item rounded-4 mb-3 shadow-sm\">" +
                        "<div class=\"d-flex\">" +
                        "<input type=\"hidden\" id=\"postId\" value=\"" + post.id + "\">" +
                        "<img id=\"userProfileUrl\" src=\"" + post.user.imageUrl + "\"class=\"img-fluid rounded-circle user-img\" alt=\"profile-img\">" +
                        "<div class=\"d-flex ms-3 align-items-start w-100\">" +
                        "<div class=\"w-100\">" +
                        "<div class=\"d-flex align-items-center justify-content-between\">" +
                        "<a href=\"/profile/"+ post.user.id +"\" class=\"text-decoration-none d-flex align-items-center\">" +
                        "<h6 id=\"userName\" class=\"fw-bold mb-0 text-body\">" + post.user.name + "</h6>" +
                        "<span class=\"ms-2 material-icons bg-primary p-0 md-16 fw-bold text-white rounded-circle ov-icon\">done</span>" +
                        "<small id=\"userNickname\"class=\"text-muted ms-2\">@" + post.user.nickname + "</small>" +
                        "</a>" +
                        "<div class=\"d-flex align-items-center small\">" +
                        "<p class=\"text-muted mb-0\">" + post.createdAt + "</p>" +
                        "<div class=\"dropdown\">" +
                        "<a href=\"#\" class=\"text-muted text-decoration-none material-icons ms-2 md-20 rounded-circle bg-light p-1\" id=\"dropdownMenuButton1\" data-bs-toggle=\"dropdown\" aria-expanded=\"false\">more_vert</a>" +
                        "<ul class=\"dropdown-menu fs-13 dropdown-menu-end\" aria-labelledby=\"dropdownMenuButton1\">" +
                        "<li><a class=\"dropdown-item text-muted\" href=\"#\"><span class=\"material-icons md-13 me-1\">edit</span>Edit</a></li>" +
                        "<li><a class=\"dropdown-item text-muted\" href=\"#\"><span class=\"material-icons md-13 me-1\">delete</span>Delete</a></li>" +
                        "<li><a class=\"dropdown-item text-muted\" href=\"#\"><span class=\"material-icons md-13 me-1 ltsp-n5\">arrow_back_ios arrow_forward_ios</span>Embed Vogel</a></li>" +
                        "<li><a class=\"dropdown-item text-muted d-flex align-items-center\" href=\"#\"><span class=\"material-icons md-13 me-1\">share</span>Share via another apps</a></li>" +
                        "</ul>" +
                        "</div>" +
                        "</div>" +
                        "</div>" +
                        "<div class=\"my-2\">" +
                        "<p class=\"text-dark\">" + post.content + "</p>" +
                         insertImage(post.postImageList) +
                        "<div id=\"postImages\" href=\"#\" class=\"text-decoration-none\" data-bs-toggle=\"modal\" data-bs-target=\"#imageModal\">" +
                        "</div>" +
                        "<div class=\"d-flex align-items-center justify-content-between mb-2\">" +
                        "<div>" +
                        "<span class=\"text-muted text-decoration-none d-flex align-items-start fw-light\">" +
                        "<span class=\"material-icons md-20 me-2\">thumb_up_off_alt</span>" +
                        "<span id=\"postLikeNum\">" + post.likeNum + "</span>" +
                        "</span>" +
                        "</div>" +
                        "<div>" +
                        "<span data-bs-toggle=\"modal\" data-bs-target=\"#commentModal\" id=\"commentButton\" class=\"text-muted text-decoration-none d-flex align-items-start fw-light\"><span class=\"material-icons md-20 me-2\">chat_bubble_outline</span><span>" + post.commentNum + "</span></span>" +
                        "</div>" +
                        "<div>" +
                        "<span class=\"text-muted text-decoration-none d-flex align-items-start fw-light\">" +
                        "<span class=\"material-icons md-20 me-2\">repeat</span>" +
                        "<span id=\"postShareNum\">" + post.shareNum + "</span>" +
                        "</span>" +
                        "</div>" +
                        "<div>" +
                        "<span class=\"text-muted text-decoration-none d-flex align-items-start fw-light\"><span class=\"material-icons md-18 me-2\">share</span><span>Share</span></span>" +
                        "</div></div></div></div></div></div></div>"
                    )
                }
            });

            $("#page").attr("current-page", nextPage);
        }
    });
</script>
</body>
</html>